.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 30rem;
}
.label {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.input {
  padding: 1.2rem 1.6rem;
  border: 1px solid #d1d1d1;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  color: #333;
  transition: border-color 0.2s;
}
